<div class="container">
  <div class='printOnly header'>
    <img src="./assets/images/devoxx_france_450px.png">
  </div>
  <h2>
    My todos
    <span ng-click="reload()" class="glyphicon glyphicon-refresh" ng-class="{'icon-refresh-animate':loading}"></span>
  </h2>
  <!-- Todos input -->
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo.text" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"
                  ng-model="todo.category"
                  data-html="1"
                  bs-options="icon.value as icon.label for icon in icons"
                  placeholder="Choose a category"
                  bs-select>
          </button>
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>

  <!-- Todos list -->
  <div ui-sortable ng-model="todos">
    <p ng-repeat="todo in todos" class="clearfix col-xs-12 col-md-6 todo-elem"
       style="padding:5px 10px 0px 0px; cursor: move;">
      <span ng-bind="todo.category" class="pull-left label {{todo.category | cat2color}}"></span>
      <span class="input-group col-xs-12 col-md-12">
        <input type="text" ng-model="todo.text" class="hidden-sm form-control col-xs-8 input-elem-done input-elem"
               ng-if="todo.checked">
        <input type="text" ng-model="todo.text" class="hidden-sm form-control col-xs-8 input-elem"
               ng-if="!todo.checked">
        <span class="visible-sm form-control col-xs-8 input-elem-done span-elem"
              ng-if="todo.checked"
              ng-click="changeState(todo)">{{todo.text}}
        </span>
        <span class="visible-sm form-control col-xs-8 span-elem"
              ng-if="!todo.checked"
              ng-click="changeState(todo)">{{todo.text}}
        </span>

        <span class="input-group-btn">
          <button class="btn btn-success hidden-xs" ng-click="todo.checked = !todo.checked" aria-label="Done">✓</button>
          <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
        </span>
      </span>
    </p>
  </div>
</div>
